

.film{
    width: 200px;
    height: 290px;
    margin: 100px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
}

.film img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.title{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}