.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    background-color: #e6e075;
    border: 2px solid  #5e6349;
    margin: 10px auto;
    border-radius: 8px;
    padding: 10px;
}

.contenedorControles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 90%;
    height: 30px;
}

.estilos{
    background-color: #9EB23B;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 3px;
}

.estilos:disabled{
    background: grey;
}

.carrito{
    background-color: #9EB23B;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

.carrito:disabled{
    background: grey;
}