.counter {
    width: fit-content;
    background-color: #FCF9C6;
    border: 2px solid  #9EB23B;
    margin: 60px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}

.estilos{
    background-color: #9EB23B;
    width: 25%;
    height: 4vh;
    margin: 12px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
}

.carrito{
    background-color: #9EB23B;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 3px;
}